.item-booked{
    width: 1100px;
    margin: auto;
    border: 1px black solid;
    justify-content: center;
    height: 200px;
}
.item-booked .ant-card-body{
    padding: 15px;
}
.status-tag{
    font-size: 17px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 20px;

}
.title-booked{
    font-size: 25px;
}
.info-booked{
    display: flex;
    justify-content: center;
}
.detail-booked {
    width: 700px;
}
.status-booked{
    display: flex;
    margin-left: 50px;
}
.title-booked{
    font-size: 30px;
}

.item-booking-wait{
    height: 200px;
    border: 1px black solid;
    justify-content: center;
    width: 100%;

}
.item-booking-wait .ant-card-body{
    padding: 15px;
}
.info-booking-wait{
    display: flex;
    justify-content: center;
}
.detail-booking-wait{
    width: 900px;
}
.group-btn-action{
    display: flex;
    align-items: center;
}
.btn-action{
    display: flex;
    width: 100px;
    margin-left: 30px;
    justify-content: center;
    color: white;

}
.title-booking-wait{
    font-size: 27px;
    justify-content: center;
    display: flex;
}
.list-user{
    margin-top: 10px;
}